:root {
  --primary: #c0c0c0;
  --bg: #010101;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}
html {
  overflow-y: scroll;
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg);
  color: #fff;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  background-color: rgba(1, 1, 3, 0.5);
  border-bottom: 2px solid #c0c0c0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}
/* navbar-logo */
.navbar .navbar-logo {
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
  line-height: 50%;
  font-style: italic;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.navbar .navbar-logo span {
  font-size: 1.2rem;
  font-weight: 700;
  color: #c0c0c0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.navbar .navbar-nav a {
  color: #ffffff;
  font-size: 1.1rem;
  display: inline-block;
  margin-left: 0 1rem;
}
.navbar .navbar-nav a:hover {
  color: var(--primary);
}
.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--primary);
  transform: scaleX(0);
  transition: 0.2s linear;
}
.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}
.navbar .navbar-extra a {
  color: #fff;
  margin: 0 0.5rem;
  left: 1rem;
  margin-left: 5px;
}
.navbar .navbar-extra a:hover {
  color: var(--primary);
}

#hamburger-menu {
  display: none;
}
.navbar .search-form {
  position: absolute;
  top: 100%;
  right: 7%;
  background-color: #fff;
  width: 35rem;
  height: 3rem;
  display: flex;
  align-items: center;
  transform: scaleY(0);
  transform-origin: top;
  transition: 0.3s;
}

.navbar .search-form.active {
  transform: scaleY(1);
}
.navbar .search-form input {
  height: 100%;
  width: 100%;
  font-size: 1.6rem;
  color: #010101;
  padding: 1rem;
}
.navbar .search-form label {
  cursor: pointer;
  font-size: 2rem;
  margin-right: 1rem;
  color: var(--bg);
}
.detail {
  margin: 0;
  padding: 6rem 7%;
  display: flex;
}
.background {
  border-radius: 5px;
  width: 450px;
  height: 520px;
  background-color: rgba(24, 24, 24);
}
.wrapper {
  width: 450px;
  overflow: hidden;
}

.image {
  padding-top: 13px;
  display: flex;
  width: 100%;
  object-fit: cover;
  transition: 1s;
}
.image .img1 {
  padding-left: 40px;
}
.image img {
  width: 100%;
}
#slide1:target ~ .image {
  margin-left: 10px;
}
#slide2:target ~ .image {
  margin-left: -94%;
}
#slide3:target ~ .image {
  margin-left: -186.5%;
}
#slide4:target ~ .image {
  margin-left: -279%;
}

.buttonholder a {
  display: inline-block;
  height: 15px;
  width: 15px;
  background-color: #4b4848;
  font-size: 0px;
  border-radius: 50%;
}
.buttonholder a:hover {
  background-color: #c0c0c0;
}
.buttonholder {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  left: 180px;
  right: 0;
  margin-top: -40px;
}
footer {
  background-color: #364f63;
  text-align: center;
  padding: 1rem 0;
  margin-top: 3rem;
  padding-bottom: 1rem;
}
footer .social {
  padding: 0.3rem 0;
}

footer .social a,
footer .link a {
  color: #fff;
  margin-left: 1rem;
}
footer .social a:hover,
footer .link a:hover {
  color: var(--primary);
}

footer .link {
  margin-bottom: 1.4rem;
}
footer .link a {
  padding: 0.7 1rem;
}
footer .credit {
  font-size: 0.8rem;
}
footer .credit a {
  color: #010101;
  font-weight: 700;
}
/* media queries */

/* laptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}
/* tablet */
@media (max-width: 758px) {
  html {
    font-size: 62.5%;
  }
  #hamburger-menu {
    display: inline-block;
  }
  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: rgba(54, 79, 99, 0.8);
    width: 30rem;
    height: 100vh;
    border-left: 2px solid #c0c0c0;
    transition: 0.3s;
  }
  .navbar .navbar-nav.active {
    right: 0;
    transform: scaleX();
  }
  .navbar .navbar-nav a {
    display: block;
    font-weight: 700;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 1.4rem;
    color: var(--bg);
  }
  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }
  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.2);
  }
  .about .row {
    flex-wrap: wrap;
  }
  .about .row .about-img img {
    height: 24rem;
    object-fit: cover;
    object-position: center;
  }
  .navbar .search-form {
    width: 70%;
    right: 2rem;
  }
  .product .slides {
    flex-wrap: wrap;
  }
  .contact .row {
    flex-wrap: wrap;
  }
  .contact .row .maps {
    height: 30rem;
  }
  .contact .row form {
    padding-top: 0;
  }
  .slides {
    flex-wrap: wrap;
  }
  .slides .slide img {
    max-width: 100%;
    margin-bottom: 20px;
  }
  .sideslide img {
    max-width: 100%;
    object-fit: scale-down;
  }
}
/* mobilephone */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
}
